 
 * {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Museo-Sans-500",Helvetica,arial,sans-serif,"NotoSansCJKsc-Regular";
}

#main {
    width: 100vw;
    height: 100vh;
}

#header {
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #fff;
}

#navbar {
    height: 40%;
    margin: auto 0;
    border-bottom: 1px solid rgb(210, 209, 209);
}

#navbar .navbar-item {
    width: 20%;
    float: left;
}

#navbar .navbar-item2 {
    width: 60%;
    float: left;
    text-align: center;
}

#navbar .nav-select {
    float: left;
    text-align: center;
    align-items: center;
    margin: 10px;
    font-size: 18px;
}

#navbar .nav-select:hover {
    cursor: pointer;
    color: rgb(0, 106, 255);
}

#filterbar {
    height: 60%;
}

#filterbar .filter-element {
    width: 100%;
    float: left;
    margin: 10px 10px;
}


#content {
    width: 100%;
    height: 100%;
}

#content #house-container {
    margin: 10px;
}

#content #house-container .house {
    margin: 10px;
}

#map {
    margin: 20px;
    margin-top: 20px;
	width: calc(60% - 40px);
    position: fixed;
    bottom: 0px;
    left: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
}

#sidebar {
    width: 40%; 
	height: 100%;
    float: left;
}

#progress {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 400px;
    top: 300px;
    width: 200px;
    height: 20px;
    margin-top: -20px;
    margin-left: -100px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 2px;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #76A6FC;
    border-radius: 4px;
}

#floating-content {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
}

#information-pane {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    height: 200px;
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5%;
    margin-left: 10px;
}

#filter-pane {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 199999;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5%;
}

#quantity {
    margin-top: 20px;
}

.infopane {
    margin-left: 20px;
}

.img-fluid {
    display: none;
}

* {
    box-sizing: border-box;
  }
  
  .column1 {
    float: left;
    width: 100px;
  }
  
  .column2 {
    float: left;
    width: 200px;
    margin-left: 20px;
  }

  .row {
    width: 400px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

 #dropdown {
    display: block;
    height: px;
    border-radius: 5px;
    margin: 20px 0;
  }


  /* slider */
  .ui-widget-header {
    height: 4px !important;
    background: #53b147;
  }
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    border: 1px solid #c3c3c3;
    border-radius: 13px;
    background: #fff;
  }
  .ui-widget-content {
      height: 2px !important;
      border: 0;
      background: #e0e0da;
  }
  .ui-slider-horizontal .ui-slider-range {
    background-color: rgb(0, 106, 255);
    top: -1px;
  }
  .ui-slider-horizontal .ui-slider-handle {
    /* top: -10px; */
    cursor: pointer;
  }
  .ui-slider-handle {
    outline: none;
  }
  /* .ui-slider-handle .amount {
    position: absolute;
    left: 0;
    top: 35px;
    display: none;
    width: 130px;
    padding: 10px 0;
    text-align: center;
    margin-left: -55px;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    border: 1px solid rgb(0, 106, 255);
    background: rgb(0, 106, 255);
  } */
  .ui-slider-handle .amount:after {
    content: '';
    display: block;
    position: absolute;
    top: -11px;
    left: 50%;
    right: 0;
    width: 0;
    height: 0;
    margin-left: -5px;
    border-bottom: 5px solid #53b147;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    background-color: #fff;
  }
  .min-range {
    float: left;
    margin-top: 10px;
    padding: 10px 0;
    font-size: 12px;
    color: rgb(0, 0, 0);
    border-radius: 10%;
    font-weight: bold;
  }
  .max-range {
    float: right;
    padding-top: 20px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  .slider-range-wrap {
    position: relative;
    height: 50px;
    margin: 0 30px;
    margin-top: 10px;
  }

  /* 
  Button
  */

/* CSS */
.my-btn {
  background-color: #ffffff;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 13px;
  padding: 0;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.my-btn a {
    color:rgb(0, 0, 0);
}

.my-btn:hover {
  background-color: rgb(240, 236, 236);
}

.my-btn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .my-btn {
    min-width: 50px;
    padding: 0 25px;
  }
}

  @media (max-width: 1000px) {
    .house {
        width: 95%;
        height: 350px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
        border-radius: 5px;
    }
    .district-section {
        width: 15%; 
        float: left;
    }
    .slider-range-wrap {
        width: 40%; 
        float: left;
    }
    .button-section {
        width: 15%; 
        float: left;
    }
    #district {
        margin: 0 20px;
    }
    #header {
        height: 15%;
    }
    #map {
        height: calc(85% - 40px);
    }
    #sidebar {
        margin-top: 15vh;
    }
  }

  @media (max-width: 700px) {
    #district {
        margin: 0;
    }
    .slider-range-wrap {
        margin-left: 80px;
    }
    #header {
        height: 25vh;
    }
    #map {
        height: calc(75vh - 20px);
    }
    #sidebar {
        margin-top: 25vh;
    }
    .district-section {
        width: 15%; 
        float: left;
    }
    .slider-range-wrap {
        width: 60%; 
        float: left;
    }
    .button-section {
        width: 25%; 
        float: left;
    }
  }

  @media (max-width: 470px) {
    .slider-range-wrap {
        margin-left: 0px;
    }
    #header {
        height: 32vh;
    }
    #map {
        height: calc(68vh - 20px);
    }
    #sidebar {
        margin-top: 32vh;
    }
    .district-section {
        width: 100%; 
        float: left;
        text-align: center;
    }
    .slider-range-wrap {
        width: 80%; 
        float: left;
        margin-left: 30px;
        margin-top: 20px;
    }
    .button-section {
        width: 100%; 
        float: left;
        text-align: center;
    }
  }
  
  @media (min-width: 1001px) {
    .house {
        width: 45%;
        height: 350px; 
        float: left; 
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
        border-radius: 5px;
    }
    .district-section {
        width: 15%; 
        float: left;
    }
    .slider-range-wrap {
        width: 30%; 
        float: left;
    }
    .button-section {
        width: 15%; 
        float: left;
    }
    #district {
        margin: 0 20px;
    }
    #header {
        height: 14%;
    }
    #map {
        height: calc(86% - 20px);
    }
    #sidebar {
        margin-top: 14vh;
    }
  }
