<!DOCTYPE html>
<head>
	<title>Leaflet debug page</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/maps/assets/css/style.css" />

	<link rel="stylesheet" href="../static/maps/leaflet/MarkerCluster.css" />
	<link rel="stylesheet" href="../static/maps/leaflet/MarkerCluster.Default.css" />
	<link rel="stylesheet" href="../static/maps/js/main.js" />
	<script src="../static/maps/leaflet/leaflet.markercluster-src.js"></script>
	



</head>
<body>

	<div id="map"></div>
	<div id="filter-pane">
		<div style="margin: 10px 0;">Filter pane</div>
		<div class="radio-group">
			<label for="gender">District: </label>
			<div style="margin: 10px 0;">
				<span class="radio-input">
					<input type="radio" name="district" value="Quận 1" checked="checked">Quận 1</input>
				</span>
				<span class="radio-input">
					<input type="radio" name="district" value="Quận 3">Quận 3</input>
				</span>
				<span class="radio-input">
					<input type="radio" name="district" value="Quận 4">Quận 4</input>
				</span>
				<span class="radio-input">
					<input type="radio" name="district" value="Quận 5">Quận 5</input>
				</span>
				<span class="radio-input">
					<input type="radio" name="district" value="Quận 6">Quận 6</input>
				</span>
				<span class="radio-input">
					<input type="radio" name="district" value="Quận 7">Quận 7</input>
				</span>
				<span class="radio-input">
					<input type="radio" name="district" value="Quận 8">Quận 8</input>
				</span>
				<span class="radio-input">
					<input type="radio" name="district" value="Quận 10">Quận 10</input>
				</span>
				<span class="radio-input">
					<input type="radio" name="district" value="Quận 11">Quận 11</input>
				</span>
				<span class="radio-input">
					<input type="radio" name="district" value="Thành phố Thủ Đức">TP Thủ Đức</input>
				</span>
				<span class="radio-input">
					<input type="radio" name="district" value="Quận Tân Phú">Tân Phú</input>
				</span>

				<span class="radio-input">
					<input type="radio" name="district" value="Quận Tân Bình">Tân Bình</input>
				</span>

				<span class="radio-input">
					<input type="radio" name="district" value="Quận Bình Tân">Bình Tân</input>
				</span>

				<span class="radio-input">
					<input type="radio" name="district" value="Quận Gò Vấp">Gò Vấp</input>
				</span>

				<span class="radio-input">
					<input type="radio" name="district" value="Quận Bình Thạnh">Bình Thạnh</input>
				</span>

				<span class="radio-input">
					<input type="radio" name="district" value="Quận Phú Nhuận">Phú Nhuận</input>
				</span>

				<span class="radio-input">
					<input type="radio" name="district" value="Huyện Bình Chánh">Bình Chánh</input>
				</span>

				

				<span class="radio-input">
					<input type="radio" name="district" value="Huyện Cần Giờ">Cần Giờ</input>
				</span>

				<span class="radio-input">
					<input type="radio" name="district" value="Huyện Củ Chi">Củ Chi</input>
				</span>

				<span class="radio-input">
					<input type="radio" name="district" value="Huyện Nhà Bè">Nhà Bè</input>
				</span>
			</div>
		</div>
		<div style="margin: 10px 0;">
			<button onclick="resetLayer()">Select</button>
		</div>
	</div>
	<!-- <div id="floating-content">
		<span>Mouse over a cluster to see the bounds of its children and click a cluster to zoom to those bounds</span>
	</div> -->
	<div id="information-pane">
		<div class="infopane">
			<div style="margin: 20px 0;">Information pane</div>
			<div>Diện tích: 100m2</div>
			<div>Giá bán: 10k $</div>
			<div>Mặt tiền: 2</div>
			<div>Lộ giới: 5m</div>
			<div>Sổ đỏ: có</div>
			<div>Thương lượng: có</div>
		</div>
	</div>
	<script type="text/javascript" src="../static/maps/js/main.js"></script>
</body>
</html>
