<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>
    vietdoo's Server
</title>
    <link rel="stylesheet" href="../static/homepage/css/main29.css">
    <link rel="stylesheet" href="../static/homepage/css/beauty.css">
    <link rel="shortcut icon" type="image/png" href="../static/favicon.ico">
</head>
<body>


<script src="{{url_for('static', filename='homepage/js/main2.js')}}"></script>

    
<main class="homepage container py-6">
    
    <div class="hero row">
        <div class="col position-relative pb-lg-3 pb-5"><div class="homepage-image">
                   
                </div><h1 class="display-4">Portfolio</h1>
            <h1 class="display-4 dis4viet">vietdoo</h1></div>
        </div>
     
        <div class="articles row row-cols-1 row-cols-lg-3">
        
            <div class="col mb-3">
                <div class="card h-100">
                    <a href="/chatbot" class="d-block"><img src="../static/homepage/images/projects/chatbot.gif" class="card-img-top mx-auto d-block">
                        <div class="card-body">
                        <h4 class="card-title">GPT Chatbot
                        </h4>
                        <p class="card-text text-muted text-uppercase">Mar, 2023</p>
                            <div class="card-text">
                                <h5 id="heading"></h5>
                                <p>A web application for live chat with an artificial intelligence bot, store data on MySQL database, using gpt-3.5-turbo.</p>            
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card h-100">
                    <a href="/maps" class="d-block"><img src="../static/homepage/images/projects/project1.jpg" class="card-img-top mx-auto d-block">
                        <div class="card-body">
                        <h4 class="card-title">Real estate market
                        </h4>
                        <p class="card-text text-muted text-uppercase">January, 2023</p>
                            <div class="card-text">
                                <h5 id="heading"></h5>
                                <p>Scraping 200k houses in HCMC, visualizing clusters by map, including web interface and api request.</p>            
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card h-100">
                    <a href="/detection" class="d-block"><img src="../static/homepage/images/projects/project2.jpg" class="card-img-top mx-auto d-block" alt="Review Ngành Khoa học dữ liệu Đại học Khoa Học Tự Nhiên">
                        <div class="card-body">
                        <h4 class="card-title">Object Detection</h4>
                        <p class="card-text text-muted text-uppercase">October, 2022</p>
                            <div class="card-text">
                                <h5 id="heading"></h5>
                                <p>Using the YoloV6 model, with the ability to recognize more than 80 object classes.</p>    
                                
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card h-100">
                    <a href="/rhymes" class="d-block"><img src="../static/homepage/images/projects/project3.jpg" class="card-img-top mx-auto d-block" alt="Review Ngành Khoa học dữ liệu Đại học Khoa Học Tự Nhiên">
                        <div class="card-body">
                        <h4 class="card-title">Rhyme Finder</h4>
                        <p class="card-text text-muted text-uppercase">July, 2022</p>
                            <div class="card-text">
                                <h5 id="heading"></h5>
                                <p>Find rhyming words for any word to help you create the perfect poem, song, etc.</p>            
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card h-100">
                    <a href="https://vietdoo.me/" class="d-block"><img src="../static/homepage/images/projects/project4.jpg" class="card-img-top mx-auto d-block" alt="Review Ngành Khoa học dữ liệu Đại học Khoa Học Tự Nhiên">
                        <div class="card-body">
                        <h4 class="card-title">About</h4>
                        <p class="card-text text-muted text-uppercase">Feb, 2023</p>
                            <div class="card-text">
                                <h5 id="heading"></h5>
                                <p>Personal website with information about who I am.
                                    You can get in touch here.</p>            
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card h-100">
                    <a href="https://vietdoo.ml/" class="d-block"><img src="../static/homepage/images/projects/project5.jpg" class="card-img-top mx-auto d-block" alt="Review Ngành Khoa học dữ liệu Đại học Khoa Học Tự Nhiên">
                        <div class="card-body">
                        <h4 class="card-title">Blog</h4>
                        <p class="card-text text-muted text-uppercase">Feb, 2023</p>
                            <div class="card-text">
                                <h5 id="heading"></h5>
                                <p>Blog about life at University of Science, and many more interesting things.</p>            
                            </div>
                        </div>
                    </a>
                </div>
            </div>

           
        
        </div>
        
    </div>
</main>


    <footer class="footer text-center bg-dark-vietdoo py-6">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="mailto:vietdoo@outlook.com" class="icons d-block">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li><li class="list-inline-item">
                            <a href="https://facebook.com/vietdoo" class="icons d-block">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li><li class="list-inline-item">
                            <a href="https://github.com/vietdoo" class="icons d-block">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li><li class="list-inline-item">
                            <a href="https://www.instagram.com/vietdoo.ig/" class="icons d-block">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li><li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/vietdoo" class="icons d-block">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        </li><li class="list-inline-item">
                            <a href="https://twitter.com/vietdoo" class="icons d-block">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                </ul>

                <p class="text-muted">
                    
                        Copyright © 2020–2023 Đỗ Quốc Việt (vietdoo) all rights reserved.
                    
                </p>

                
            </div>
        </div>
    </div>
</footer>

    
    


<script>
    window.Prism = window.Prism || {};
    window.Prism.manual = true;
</script>

</body>
</html>
