<!DOCTYPE html>
<head>
	<title>Ho Chi Minh Real Estate</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/maps/assets/css/style.css" />
	<link rel="stylesheet" href="../static/maps/leaflet/MarkerCluster.css" />
	<link rel="stylesheet" href="../static/maps/leaflet/MarkerCluster.Default.css" />
	<link rel="stylesheet" href="../static/maps/js/main.js" />
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="../static/maps/leaflet/leaflet.markercluster-src.js"></script>
	<link rel="shortcut icon" type="image/png" href="https://vietdoo.ml/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="homepage-image">
		<img src="./static/maps/assets/images/home.jpg" class="img-fluid">
	</div>
    <div id="main">
		<div id="header">
			<div id="navbar">
				<div class="navbar-item">
					<!-- <div class="nav-select" style="margin-left: 30px;">
						Buy
					</div>
					<div class="nav-select" style="margin-left: 30px;">
						Rent
					</div>
					<div class="nav-select" style="margin-left: 30px;">
						Sell
					</div> -->
					<div>
						<button class="header-btn" style="margin: 10px; vertical-align: middle; padding: 0; border: none; background: transparent; cursor: pointer; font-size: 1rem; opacity: 0.7;">
							<a href="https://vietdoo.engineer/" target="_blank" style="text-decoration: none;">Trang chủ</a>
						</button>
					</div>
				</div>
				<div class="navbar-item2" style="margin: auto;">
					<img height="40px" src="./static/maps/assets/images/logo.png">
				</div>
				<div class="navbar-item">
					<!-- <div class="nav-select">
						Advertise
					</div>
					<div class="nav-select" style="margin-left: 30px;">
						Help
					</div>
					<div class="nav-select" style="margin-left: 30px;">
						Sign in
					</div> -->
					<div>
						<button class="header-btn" style="margin: 10px; vertical-align: middle; text-align: right; padding: 0; border: none; background: transparent; cursor: pointer; font-size: 1rem; opacity: 0.7;">
							<a href="https://unripe-mango.github.io/" target="_blank" style="text-decoration: none;">Liên hệ</a>
						</button>
						<button class="header-btn" style="margin: 10px; vertical-align: middle; text-align: right; padding: 0; border: none; background: transparent; cursor: pointer; font-size: 1rem; opacity: 0.7;">
							<a href="#" target="_blank" style="text-decoration: none;">Đăng nhập</a>
						</button>
					</div>
				</div>
			</div>
			<div id="filterbar">
				<div class="filter-element">
					<div class="district-section">
						<select style="padding: 5px 15px;" name="cars" id="district">
							<option value="Quận 1" checked="checked">Quận 1</option>
							<option value="Quận 3">Quận 3</option>
							<option value="Quận 4">Quận 4</option>
							<option value="Quận 5">Quận 5</option>
							<option value="Quận 6">Quận 6</option>
							<option value="Quận 7">Quận 7</option>
							<option value="Quận 8">Quận 8</option>
							<option value="Quận 10">Quận 10</option>
							<option value="Quận 11">Quận 11</option>
							<option value="Thành phố Thủ Đức">TP Thủ Đức</option>
							<option value="Quận Tân Phú">Tân Phú</option>
							<option value="Quận Tân Bình">Tân Bình</option>
							<option value="Quận Bình Tân">Bình Tân</option>
							<option value="Quận Gò Vấp">Gò Vấp</option>
							<option value="Quận Bình Thạnh">Bình Thạnh</option>
							<option value="Quận Phú Nhuận">Phú Nhuận</option>
							<option value="Huyện Bình Chánh">Bình Chánh</option>
							<option value="Huyện Cần Giờ">Cần Giờ</option>		
							<option value="Huyện Củ Chi">Củ Chi</option>
							<option value="Huyện Nhà Bè">Nhà Bè</option>
						</select>
					</div>
					<!-- <div style="width: 15%; float: left;">
						<select style="padding: 5px 25px; margin: 0 20px;" name="cars" id="price">
							<option value="1" checked="checked">&lt; 1 tỷ</option>
							<option value="2">1 - 2 tỷ</option>
							<option value="3">2 - 3 tỷ</option>
							<option value="5">3 - 5 tỷ"</option>
							<option value="7">5 - 7 tỷ</option>
							<option value="10">7 - 10 tỷ</option>
						</select>
					</div> -->
					<!-- <div class="slider-range-wrap">
						<div id="slider-range"></div>
						<span class="min-range">100</span>
						<span class="max-range">1,000</span>
					</div> -->
					<div class="slider-range-wrap">
						<div id="slider-range"></div>
						<span id="min-range" class="min-range">100.000.000</span>
						<span id="max-range" class="max-range">10.000.000.000</span>
					</div>
					<div class="button-section">
						<!-- <label for="low">Min:</label>
						<input style="padding: 5px 0;" type="text" id="lowInput" name="low" value="0">
						<label for="high">Max:</label>
						<input style="padding: 5px 0;" type="text" id="highInput" name="high" value="10000000000"> -->
						<button style="padding: 10px 25px; background-color: rgb(0, 106, 255); color: white; border: none; border-radius: 5px; cursor: pointer;" onclick="resetLayer()">Select</button>
					</div>
				</div>
			</div>
		</div>
		<div id="content">
			<div id="map">
				
			</div>
			<div class="map-section">Map</div>
			<div id="sidebar">
				<div style="margin: 0 20px;">
					<h2 style="color: rgb(0, 106, 255);">Ho Chi Minh City Real Estate</h2>
					<div id="quantity"></div>
				</div>
				<div id="house-container"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../static/maps/js/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
</body>
</html>
